 <div id="containerA"> 
 	<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img src="img\logo.jpg" height="50" width="50">
        <label>ESCUELA PRIMARIA ROSARIO CASTELLANOS</label>
        </div>
        
        <div class="col-md-4"></div>
        
    </div>
	<div class="row">
		<h2 align="center">CAMBIAR CONTRASEÑA</h2>
		<div align="center" ng-if="!email.esValido"> 
			<label>INGRESA LA CADENA DE CARACTERES QUE HAS RECIBIDO POR CORREO</label><br>
			<textarea align="center" ng-model="email.tokenPassword" cols="100"></textarea>
			<br>
			<button class="btn btn-primary" ng-click="email.comprobarTokenPassword()">Comprobar Cadena</button>
		</div>
		<div align="center" ng-if="email.esValido">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<span><label>Usuario</label></span>
					<span ng-if="email.correo !== ''"><h3 ng-bind="email.correo"></h3></span>
					<span ng-if="email.correo === ''"><h3>No encontrado</h3></span>
					<label align="center">Ingresa la nueva Contraseña</label>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<input class="form-control" ng-model="email.password1" type="password">
						</div>
					</div>
					<label align="center">Repite la nueva Contraseña</label>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
						<input class="form-control" ng-model="email.password2" type="password">
						</div>
					</div>
					<br>
						<button class="btn btn-primary" ng-click="email.changePassword()">Enviar</button>
				</div>
			</div>
			
		</div>
		
	<div>
        <h4 style="position:fixed; left:35%; top:49%;" ">
           <br>
           <flash-message></flash-message>
      </h4>  
    </div>
</div> 

 
