<div id="containerA">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img src="img\logo.jpg" height="50" width="50">
        <label>ESCUELA PRIMARIA ROSARIO CASTELLANOS</label>
        </div>
        
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <h2 align="center">Recuperar contraseña</h2>
        <img src="img\contraseña.jpg" width="60" height="70">
    </div><br>
    <div class="row">
                <h4 id="negro">En esta sección puedes restablecer tu contraseña en caso de haberla olvidado, sigue los siguientes pasos</h4>
        <div style="text-align: left;margin-left: 400px;">

        <label>1.-En la sección de "USUARIO" despliega y selecciona el tipo de usuario que desempeñas</label><br>
        <label>2.-Ahora escribe el correo electrónico con en el que te registraste en el sistema</label><br>
        <label>3.-Presiona en "Enviar", espera un poco se mostrará un mensaje de confirmación</label><br>
        <label>4.-Entra a tu correo electrónico y copiaras el conjunto de caracteres que se te muestra </label> <br>
            <label>en el, ya que lo utilizarás en la siguiente ventana que aparezca</label>
        </div><br>
        
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label>USUARIO</label>
        </div>
        <div class="col-md-3">
            <label>CORREO</label>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <select class="form-control" ng-model="email.usuario">
                <option value="1">DIRECTOR</option>
                <option value="2">DOCENTE</option>
                <option value="3">ALUMNO</option> 

            </select>
        </div>
        <div class="col-md-3">
            <input class="form-control" placeholder="ejemplo@gmail.com" ng-model="email.correo">
        </div>
        <div class="col-md-3"></div>
    </div><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button id="Agregar" class="btn btn-primary" ng-click="email.restorePassword()">Enviar</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    
    <div>
        <h4 style="position:fixed; left:35%; top:49%;" ">
           <br>
           <flash-message></flash-message>
      </h4>  
    </div>

</div>