<link rel="stylesheet" href="css/estilos-generaAnuncio.css" type="text/css">




			<div class="alert alert-info" role="alert">
            <h4>Avisos</h4>
          	</div>
          
          	
          		

          		<div class="col-md-8" >
          		
                <input type="text" style="font-weight: bold; font-size:1.5em;" class="form-control" id="contenedor" placeholder="escribe aquí" ng-model="user.contenedor"><br>
          		
          		</div>

              <button ng-click="user.guardarContenidoDiv(user.contenedor)">Agregar</button>