<div id="containerA">
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img src="img\logo.jpg" height="50" width="50">
        <label>ESCUELA PRIMARIA ROSARIO CASTELLANOS</label>
        <label>CURSO:{{cc.ciclo}}</label>
        </div>
        
        <div class="col-md-4"></div>
        
    </div>
  <div>
      <h2>Curso Activo</h2>
  </div>
<div class="table-responsive" >
<div class="col-md-6">
          <div class=" form-group">
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input ng-model="cc.q" ng-hide="vg.checked" class="form-control" placeholder="Buscar Curso">
            </div>
          </div>
        </div>

<div  id="tablaGral"><!--table table-striped-->
      <table class="table table-striped">
      <thead>
        
        <tr> 
          <th>Id
          <th>Año Inicio
          <th>Año Fin
          <th>Acción
        </tr>
      </thead>
      <!--
      <tbody ng-repeat="alumnos in pc.datos_alumnos">
      -->
       <tbody dir-paginate="curso in cc.datos_Curso| filter:cc.q | itemsPerPage:cc.pageSize" current-page="cc.currentPage" pagination-id="alumnoPagination">
      <tr class="form-inline">
        <td>
          <span>{{curso.idCurso}}</span>
        </td>
        <td>
          <span>{{curso.anioInicio | date: "dd/MM/yyyy"}}</span>
        </td>
        <td>
          <span>{{curso.anioFin | date: "dd/MM/yyyy"}}</span>
        </td>
        <td>

           <a class="btn btn-success"  
                  arial-label= "Mas.."
                  data-toggle="modal" 
                  data-target="#myModalEditar"
                  ng-click="cc.getCursoByTagName(curso.idCurso)"
                  title="Modifica los datos del curso correspondiente a esta fila">
              <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ></i>Modificar </a>

              <a class="btn btn-danger" id="btn-eliminarA" 
                  ng-click="cc.eliminarCurso(curso.idCurso)"
                  title="Elimina el curso correspondiente a esta fila">
               <i class="fa fa-user-times fa-2x" aria-hidden="true" ></i>Inactivar</a>  

        </td>
      </tr>
    </tbody>
    </table>

    <dir-pagination-controls boundary-links="true" pagination-id="alumnoPagination" template-url="vista/dirPagination.tpl.html"></dir-pagination-controls>   
    
   </div>

 <!--***********Modal Editar***********-->
    <div class="modal" id="myModalEditar">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" align="center">
            <!-- more usage of angular data binding -->
              <strong>NOMBRE: {{cc.objCursoUpdate.idCurso}}</strong>
          </div>
          <div class="modal-body">
            <div class="row top-buffer">
                <div class="col-md-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th width="15%">
                          <th width="20%">DATOS
                        </tr>
                      </thead>
                      <tbody>
                    
                        <tr class="form-inline">
                          <td>
                            <span><strong>Año Inicio</strong></span>
                          </td>
                          <td>
                            <input type="date" class="form-control" ng-model="cc.objCursoUpdate.anioInicio" value="{{cc.objCursoUpdate.anioInicio}}">
                          </td>
                        </tr>
                        <tr class="form-inline">
                          <td>
                            <span><strong>Año Fin</strong></span>
                          </td>
                          <td>
                            <input type="date" class="form-control" ng-model="cc.objCursoUpdate.anioFin" value="{{cc.objCursoUpdate.anioFin}}">
                          </td>
                        </tr>
                       
                      </tbody>
                    </table>                  
                </div>
                <div class="col-md-12 top-buffer">
                      <a class="btn btn-danger pull-right" 
                       aria-label="Cancel"
                       data-dismiss="modal" title="cancelar" id="modal-cancelar">
                      <i class="fa fa-times fa-fw" aria-hidden="true">Cancelar</i>
                      </a>

                       <a class="btn btn-success pull-left" 
                       aria-label="Edit"
                       ng-click="cc.updateCurso(cc.objCursoUpdate)"
                       data-dismiss="modal" title="guardar" id="modal-guardar">
                       <i class="fa fa-floppy-o fa-fw" aria-hidden="true">Guardar</i>
                      </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div
   


